#profile{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 75px;
    overflow: hidden;
    margin: auto;
}
#fieldset{
    width: 300px;
    margin: 10px auto;
}
legend{
    margin: auto;
}
input[type=file] {
    width: 250px;
    font-family: Mirza;
    font-size: 16px;
    cursor: pointer;
}
#up_bt,input[type=file]::file-selector-button {
    width: 100px;
    font-family: Mirza;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(211, 121, 79);
    border-radius: 10px;
    transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover, #up_bt:hover {
    background-color: rgb(226, 138, 98);
}
a{
    display: block;
    width: 200px;
    text-decoration: none;
    margin: auto;
}
.bt{
    width: 200px;
    height: 30px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(248, 146, 109);
    vertical-align: middle;
    display: table-cell;
    transition: background .2s ease-in-out;
}
.outer_bt{
    margin: auto auto 14px auto; 
    width: 202px;
}
.bt:hover{
    background-color: rgb(245, 177, 153);;
}